<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Person Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="dropzone.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <nav class="navbar navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="#">Sports Person Classifier</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col card-wrapper" data-player="cristiano">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="cristiano.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Cristiano Ronaldo</h4>
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col card-wrapper" data-player="haaland">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="haaland.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4 class="text-uppercase card-title">Erling Haaland</h4>
                            </p>
                        </div>
                    </div>
            </div>            
            <div class="col card-wrapper" data-player="karim">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="karim.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4 class="text-uppercase card-title">Karim Benzema</h4>
                            </p>
                        </div>
                    </div>
            </div>          

            <div class="col card-wrapper" data-player="lewandowski">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="lewandowski.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h5 class="text-uppercase card-title">Robert Lewandowski</h5>
                        </p>
                    </div>
                </div>
            </div>      

        
            
        <div class="col card-wrapper" data-player="lionel">
            <div class="card border-0">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="lionel.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center mt-4">
                    <h4 class="text-uppercase card-title">Lionel Messi</h4>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col card-wrapper" data-player="marcelo">
            <div class="card border-0">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="marcelo.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center mt-4">
                    <h4 class="text-uppercase card-title">Marcelo Vierra</h4>
                    </p>
                </div>
            </div>
        </div>
        <div class="col card-wrapper" data-player="neymar">
            <div class="card border-0">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="neymar.jeg" alt="Card image cap">
                </div>
                <div class="card-body text-center mt-4">
                    <h4 class="text-uppercase card-title">Neymar Jr</h4>
                    </p>
                </div>
            </div>
        </div>
        <div class="col card-wrapper" data-player="pogba">
            <div class="card border-0">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="pogba.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center mt-4">
                    <h4 class="text-uppercase card-title">Paul Pogba</h4>
                    </p>
                </div>
            </div>
        </div>
        <div class="col card-wrapper" data-player="vinicius">
            <div class="card border-0">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="vini.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center mt-4">
                    <h4 class="text-uppercase card-title">Vinicious Jr</h4>
                    </p>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action="/file-upload" class="dropzone" id="dropzone">
                            <div class="dz-message needsclick">
                                <img src="./images/upload.png" width="50vw" height="50vw"><br>
                                <span class="note needsclick">Drop files here or click to upload</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3 mx-auto">
                        <button id="submitBtn" type="button" class="btn btn-success">Classify</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-8 error" id="error" >
                <p>Can't classify image. Classifier was not able to detect face and two eyes properly</p>    
            </div>

            <div class="col-sm-4" id="resultHolder">
            </div>
            <div class="col-sm-4" id="divClassTable">
                <table id="classTable">
                        <tr>
                            <th>Player</th>
                            <th>Probability Score</th>
                        </tr>
                        <tr>
                            <td>Cristiano Ronaldo</td>
                            <td id="score_cristiano"></td>
                        </tr>
                        <tr>
                            <td>Erling Haaland</td>
                            <td id="score_haaland"></td>
                        </tr>
                        <tr>
                            <td>Karim Benzema</td>
                            <td id="score_karim"></td>
                        </tr>
                        <tr>
                            <td>Robert Lewandowski</td>
                            <td id="score_lewandowski"></td>
                        </tr>
                        <tr>
                            <td>Lionel Messi</td>
                            <td id="score_lionel"></td>
                        </tr>
                        <tr>
                            <td>Marcelo Vierra</td>
                            <td id="score_marcelo"></td>
                        </tr>
                        <tr>
                            <td>Neymar Jr</td>
                            <td id="score_neymar"></td>
                        </tr>
                        <tr>
                            <td>Paul Pogba</td>
                            <td id="score_pogba"></td>
                        </tr>
                        <tr>
                            <td>Vinicious Jr</td>
                            <td id="score_vinicius"></td>
                        </tr>
                </table>
            </div>
            
        </div>

    </div>

</body>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="static/dropzone.min.js"></script>
<script src="static/app.js"></script>
</html>
